<?xml version='1.0' encoding='utf-8'?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
    <Identity Name="dd6047b0-6b14-11e4-a3f0-6da8295a93ef" Publisher="CN=$username$" Version="1.0.0.0" />
    <Properties>
        <DisplayName>com.moodle.moodlemobile</DisplayName>
        <PublisherDisplayName>$username$</PublisherDisplayName>
        <Logo>images\storelogo.png</Logo>
    </Properties>
    <Prerequisites>
        <OSMinVersion>6.3.0</OSMinVersion>
        <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
    </Prerequisites>
    <Resources>
        <Resource Language="x-generate" />
    </Resources>
    <Applications>
        <Application Id="MoodleMobile" StartPage="www/index.html">
            <m2:VisualElements BackgroundColor="#464646" Description="CordovaApp" DisplayName="com.moodle.moodlemobile" ForegroundText="light" Square150x150Logo="images\logo.png" Square30x30Logo="images\smallLogo.png">
                <m2:SplashScreen Image="images\splashscreen.png" />
            </m2:VisualElements>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />
        <Capability Name="picturesLibrary" />
        <DeviceCapability Name="webcam" />
        <DeviceCapability Name="microphone" />
    </Capabilities>
</Package>
